<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area" >
      <li class="name">
        <h1><a href="/home">SchoolME</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="has-dropdown">
          <a>+</a>
          <ul class="dropdown">
            <li><label>Search Nearby ZIP<label></li>
            <% if @nearby_zip != nil %>
              <% @nearby_zip.each do |zip| %>
                <li><a href="/search?search=<%= zip %>"><%= zip %></a></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div> <!-- ends div "fixed" -->

<div class="left-content">
  <h5 id="schoolType">Elementary Schools:</h5>
  <% for i in 0..@name.length-1 %>
    <% if @grade_range[i] == "K-6" || @grade_range[i] == "K-5" ||
       @grade_range[i] == "PK-6" || @grade_range[i] == "PK-5" ||
       @grade_range[i] == "K-4" || @grade_range[i] == "5-6" %>
      &nbsp&nbsp<a id='<%= @gsid[i] %>,<%= @lat[i] %>,<%= @long[i]%>' class='school_list'><%= @name[i] %></a>
      <% if @rating[i] == "" %>
        <br><br>
      <% else %>
        (<%= @rating[i] %>)<br><br>
      <% end %>
    <% end %>
  <% end %>
  <h5 id="schoolType">Middle Schools:</h5>
  <% for i in 0..@name.length-1 %>
    <% if @grade_range[i] == "6-8" || @grade_range[i] == "7-8" %>
      &nbsp&nbsp<a id='<%= @gsid[i] %>,<%= @lat[i] %>,<%= @long[i]%>' class='school_list'><%= @name[i] %></a>
      <% if @rating[i] == "" %>
        <br><br>
      <% else %>
        (<%= @rating[i] %>)<br><br>
      <% end %>
    <% end %>
  <% end %>
  <h5 id="schoolType">High Schools:</h5>
  <% for i in 0..@name.length-1 %>
    <% if @grade_range[i] == "9-12" %>
      &nbsp&nbsp<a id='<%= @gsid[i] %>,<%= @lat[i] %>,<%= @long[i]%>' class='school_list'><%= @name[i] %></a>
      <% if @rating[i] == "" %>
        <br><br>
      <% else %>
        (<%= @rating[i] %>)<br><br>
      <% end %>
    <% end %>
  <% end %>
  <h5 id="schoolType">Other:</h5>
  <% for i in 0..@name.length-1 %>
    <% if @grade_range[i] != "9-12" && @grade_range[i] != "6-8" &&
       @grade_range[i] != "K-5" && @grade_range[i] != "K-6" &&
       @grade_range[i] != "PK-5" && @grade_range[i] != "PK-6" &&
       @grade_range[i] != "7-8" && @grade_range[i] != "K-4" %>
      &nbsp&nbsp<a id='<%= @gsid[i] %>,<%= @lat[i] %>,<%= @long[i]%>' class='school_list'><%= @name[i] %></a>, <%= @grade_range[i] %>
      <% if @rating[i] == "" %>
        <br><br>
      <% else %>
        (<%= @rating[i] %>)<br><br>
      <% end %>
    <% end %>
  <% end %>
  <hr>
  <strong>Median Listing</strong>: $<%= number_with_delimiter(@median_listing.to_i, :delimiter => ',') %><br>
  <strong>Average Listing</strong>: $<%= number_with_delimiter(@average_listing.to_i, :delimiter => ',') %>
  <br><br>
</div> <!-- ends "left-content" div -->

<div id="map"></div>


