<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area" >
      <!-- Title Area -->
      <li class="name">
        <h1><a>SchoolME</a></h1>
      </li>
    </ul>
  </nav>
</div>

<div class="left-content">
  <strong>Median Listing</strong>: $<%= number_with_delimiter(@median_listing.to_i, :delimiter => ',') %><br>
  <strong>Average Listing</strong>: $<%= number_with_delimiter(@average_listing.to_i, :delimiter => ',') %>
  <hr>
  <strong>Elementary Schools:</strong><br><br>
  <% for i in 0..@name.length-1 %>
    <% if @grade_range[i] == "K-6" || @grade_range[i] == "K-5" ||
       @grade_range[i] == "PK-6" || @grade_range[i] == "PK-5" ||
       @grade_range[i] == "K-4" || @grade_range[i] == "5-6" %>
      &nbsp&nbsp<a id='<%= @gsid[i] %>,<%= @lat[i] %>,<%= @long[i]%>' class='school_list'><%= @name[i] %></a>
      <% if @rating[i] == "" %>
        <br><br>
      <% else %>
        (<%= @rating[i] %>)<br><br>
      <% end %>
    <% end %>
  <% end %>
  <strong>Middle Schools:</strong><br><br>
  <% for i in 0..@name.length-1 %>
    <% if @grade_range[i] == "6-8" || @grade_range[i] == "7-8" %>
      &nbsp&nbsp<a id='<%= @gsid[i] %>,<%= @lat[i] %>,<%= @long[i]%>' class='school_list'><%= @name[i] %></a>
      <% if @rating[i] == "" %>
        <br><br>
      <% else %>
        (<%= @rating[i] %>)<br><br>
      <% end %>
    <% end %>
  <% end %>
  <strong>High Schools:</strong><br><br>
  <% for i in 0..@name.length-1 %>
    <% if @grade_range[i] == "9-12" %>
      &nbsp&nbsp<a id='<%= @gsid[i] %>,<%= @lat[i] %>,<%= @long[i]%>' class='school_list'><%= @name[i] %></a>
      <% if @rating[i] == "" %>
        <br><br>
      <% else %>
        (<%= @rating[i] %>)<br><br>
      <% end %>
    <% end %>
  <% end %>
  <strong>Other:</strong><br><br>
  <% for i in 0..@name.length-1 %>
    <% if @grade_range[i] != "9-12" && @grade_range[i] != "6-8" &&
       @grade_range[i] != "K-5" && @grade_range[i] != "K-6" &&
       @grade_range[i] != "PK-5" && @grade_range[i] != "PK-6" &&
       @grade_range[i] != "7-8" && @grade_range[i] != "K-4" %>
      &nbsp&nbsp<a id='<%= @gsid[i] %>,<%= @lat[i] %>,<%= @long[i]%>' class='school_list'><%= @name[i] %></a>, <%= @grade_range[i] %>
      <% if @rating[i] == "" %>
        <br><br>
      <% else %>
        (<%= @rating[i] %>)<br><br>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="map"></div>


